// Colors:
$yellow: hsl(47, 88%, 63%);
$white:  hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$dark-grey: hsl(0, 0%, 30%);
$black: hsl(0, 0%, 7%);

// Color names
$main-color: $yellow;
$title-c: $grey;
$dark-text: $black;

// body copy
$p-size: 16px;

// font: 600, 800
$family: 'Figtree', sans-serif;